### Construct dataframe from 2 columns

In [1]:
import pandas as pd
dataframe = pd.DataFrame({
    "aaa": [1, 2, 3, 4, 5, 6, 7],
    "bbb": [22, 33, 44, 55, 66, 77, 88]
})

### Get dataframe's top few rows

In [2]:
dataframe.head()

   aaa  bbb
0    1   22
1    2   33
2    3   44
3    4   55
4    5   66

### Get dataframe stats

In [3]:
dataframe.describe()

            aaa        bbb
count  7.000000   7.000000
mean   4.000000  55.000000
std    2.160247  23.762716
min    1.000000  22.000000
25%    2.500000  38.500000
50%    4.000000  55.000000
75%    5.500000  71.500000
max    7.000000  88.000000

### Add column to existing dataframe

In [4]:
dataframe = dataframe.assign(ccc = [21, 22, 23, 24, 25, 26, 27])
dataframe.head()

   aaa  bbb  ccc
0    1   22   21
1    2   33   22
2    3   44   23
3    4   55   24
4    5   66   25

### Delete column

In [5]:
cleanDataframe = dataframe.drop("ccc", axis=1)
cleanDataframe.head()

   aaa  bbb
0    1   22
1    2   33
2    3   44
3    4   55
4    5   66

### Add column based on values from other columns

In [6]:
cleanDataframe["aaaPlusBbb"] = cleanDataframe.apply(lambda row: row.aaa + row.bbb, axis=1)
cleanDataframe.head()

   aaa  bbb  aaaPlusBbb
0    1   22          23
1    2   33          35
2    3   44          47
3    4   55          59
4    5   66          71

In [7]:
cleanDataframe[["aaa", "bbb"]]

   aaa  bbb
0    1   22
1    2   33
2    3   44
3    4   55
4    5   66
5    6   77
6    7   88